/*menu container*/
/*.menucontainer{background: #fff url(../images/header.png) top left repeat-x;}*/
.menucontainer {
	z-index: 1000;
	width: 100%;
	height: 78px;
	background-image: url("../images/top_back.jpg");
}
.logo{
	width:371px;
	height:78px;
	float:left;
	background-image: url("../images/logo.png");
	margin-left:100px;
}
/*basic menu styling*/
.menu {
	width: 700px;
	height: 78px;
	padding:20px 20px 10px 20px;
	float:left;
	font-family: "Trebuchet MS", arial, verdana, sans-serif;	
}
.info {
	float: right;
	margin-right: 55px;
	padding-top: 5px;
	font-family: "Trebuchet MS", arial, verdana, sans-serif;
	color: #fff;	
}

.menu ul {
	width:700px;
	padding-right:10px;
	float: right;
	list-style: none;
	position:absolute;
	right:0;	
}

.menu ul li {
	width:82px;
	height:30px;
	float: left;
	margin-right:10px;
	display: list-item;
	text-align:center;
	position:relative;
	padding-right:10px;
	background-image: url(../images/boder-right.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
/* /*style of main items normal state*/
.menu ul li a{
	width:72px;
	height:30px;
	display:block;
	text-decoration: none;
	color: #7a8090;
	font-size:14px;
	list-style: none;
	line-height:30px;
	text-align:center;
	cursor: auto;
	position:relative;
}

/*hide sub nav items*/
.menu ul li ul {
	display: none;
}
/*specific to non IE browsers
main nav over state*/
.menu ul li a:hover{
	color: #fff;
	background: #ccc url(../images/btn_back.png) repeat;
}
/*show drop-down list*/
.menu ul li:hover ul {
	display: block;
	position: absolute;
	top: 23px;
	margin-top:6px;
	width: 90px;
	left:0;
}
/*drop-down on state*/
.menu ul li:hover ul li a {
	display: block;
	background: #757575;
	color: #fff;
	height: 30px;
	line-height: 24px;
	padding: 5px 10px 5px 10px;
	width: 90px;
}
/*sub drop-down over state*/
.menu ul li:hover ul li a:hover {
	background: url(../images/btn_back.png) repeat;
	color: #fff;
}

.myTabPanel{
	width:80%;
}